# Name: SoilJ
# Author: John Koestel
# Version: 1.1.18

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.
#

Plugins>SoilJ>ArtifactRemoval, "MedianFilterAndUnsharpMask3D", SoilJ_.MedianFilterAndUnsharpMask3D_
Plugins>SoilJ>ArtifactRemoval, "BeamDeHardening", SoilJ_.BeamDeHardening_
Plugins>SoilJ>FeatureRecognition, "FindColumnOutlines", SoilJ_.FindColumnOutlines_
Plugins>SoilJ>FeatureRecognition, "CreateClosingMask", SoilJ_.CreateClosingMask_
Plugins>SoilJ>FeatureRecognition, "SurfaceDetection", SoilJ_.SurfaceDetection_
Plugins>SoilJ>ImageCalibration, "CalibrateGrayValues", SoilJ_.CalibrateGrayValues_
Plugins>SoilJ>Segmentation, "ExtractHistograms", SoilJ_.ExtractHistograms_
Plugins>SoilJ>Segmentation, "Extract2DHistograms", SoilJ_.Extract2DHistograms_		
Plugins>SoilJ>Segmentation, "Analyze2DHistograms", SoilJ_.Analyze2DHistograms_
Plugins>SoilJ>Segmentation, "JointThresholdDetection", SoilJ_.JointThresholdDetection_
Plugins>SoilJ>Segmentation, "ImageSegmentation", SoilJ_.ImageSegmentation_
Plugins>SoilJ>Segmentation, "MultiRegionSegmentation", SoilJ_.MultiRegionSegmentation_
Plugins>SoilJ>Segmentation, "TernarySegmentation", SoilJ_.TernarySegmentation_
Plugins>SoilJ>Segmentation, "ExtractPOMAndRoots", SoilJ_.ExtractPOMAndRoots_
Plugins>SoilJ>ImageAnalyses, "PoreSpaceAnalyzer", SoilJ_.PoreSpaceAnalyzer_
Plugins>SoilJ>ImageAnalyses, "PoreNetworkAnalyzer", SoilJ_.PoreNetworkAnalyzer_
Plugins>SoilJ>ImageAnalyses, "ExtractPoreSizeDistribution", SoilJ_.ExtractPoresizeDistribution_
Plugins>SoilJ>ImageAnalyses, "SubScaleAnalyzer", SoilJ_.SubScaleAnalyzer_
Plugins>SoilJ>Tools, "TiffSequenceTo3DTiff", SoilJ_.TiffSequenceTo3DTiff_
Plugins>SoilJ>Tools, "ClipXY", SoilJ_.ClipXY_
Plugins>SoilJ>Tools, "ClipWithMaskBinary", SoilJ_.ClipWithMaskBinary_
Plugins>SoilJ>Tools, "PlotVerticalProfile", SoilJ_.PlotVerticalProfile_
Plugins>SoilJ>Tools, "GenerateRandomPoreClusters", SoilJ_.GenerateRandomPoreClusters_
Plugins>SoilJ>Tools, "ThreeDCalculator", SoilJ_.ThreeDCalculator_
Plugins>SoilJ>MLJ4Halle, "MLJHallePA3D", SoilJ_.MLJHallePA3D_
