# Name: SoilJ
# Author: John Koestel
# Version: 1.0.15

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>SoilJ, "TiffSequenceTo3DTiff", SoilJ_.TiffSequenceTo3DTiff_
Plugins>SoilJ, "MedianFilterAndUnsharpMask3D", SoilJ_.MedianFilterAndUnsharpMask3D_
Plugins>SoilJ, "StraightenAndCenter", SoilJ_.StraightenAndCenter_
Plugins>SoilJ, "FindColumnOutlines", SoilJ_.FindColumnOutlines_
Plugins>SoilJ, "BeamDeHardening", SoilJ_.BeamDeHardening_
Plugins>SoilJ, "CalibrateGrayValues", SoilJ_.CalibrateGrayValues_
Plugins>SoilJ, "JointThresholdDetection", SoilJ_.JointThresholdDetection_
Plugins>SoilJ, "ImageSegmentation", SoilJ_.ImageSegmentation_
Plugins>SoilJ, "ExtractPOMAndRoots", SoilJ_.ExtractPOMAndRoots_
Plugins>SoilJ, "SurfaceDetection", SoilJ_.SurfaceDetection_
Plugins>SoilJ, "PoreSpaceAnalyzer", SoilJ_.PoreSpaceAnalyzer_
Plugins>SoilJ, "ExtractPoreSizeDistribution", SoilJ_.ExtractPoresizeDistribution_
Plugins>SoilJ, "SubScaleAnalyzer", SoilJ_.SubScaleAnalyzer_
Plugins>SoilJ, "PlotVerticalProfile", SoilJ_.PlotVerticalProfile_
Plugins>SoilJ, "GenerateRandomPoreClusters", SoilJ_.GenerateRandomPoreClusters_
