# Name: soilj
# Author: John Koestel
# Version: 0.0.1

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>SoilJ, "CombineTiffStack2Tiff", soilj.CombineTiffStack2Tiff_
Plugins>SoilJ, "StraightenAndCenter", soilj.StraightenAndCenter_
Plugins>SoilJ, "FindColumnOutlines", soilj.FindColumnOutlines_
Plugins>SoilJ, "NormalizeTheseImages", soilj.NormalizeTheseImages_
Plugins>SoilJ, "SegmentThis", soilj.SegmentThis_
Plugins>SoilJ, "SoilSurfaceFinder", soilj.SoilSurfaceFinder_
Plugins>SoilJ, "PoreSpaceAnalyzer", soiljPoreSpaceAnalyzer_